<div class="theme-configurator">
  <ng-content></ng-content>

  <div class="theme-configurator-panel hidden">
    <div class="flex flex-col gap-4">
      <div>
        <span class="text-sm text-muted-color font-semibold"
          >Primary color</span
        >
        <div class="pt-2 flex gap-2 flex-wrap justify-between">
          <button
            type="button"
            *ngFor="let item of primaryColors"
            [title]="item.color"
            class="border-none w-5 h-5 rounded-full p-0 cursor-pointer outline-none outline-offset-1"
            [ngStyle]="{ 'background-color': item.bgColor }"
            [ngClass]="{
              'outline-primary': selectedPrimaryColor === item.color,
            }"
            (click)="updatePrimaryColor(item.color)"
          ></button>
        </div>
      </div>

      <div>
        <span class="text-sm text-muted-color font-semibold"
          >Surface color (Light theme)</span
        >
        <div class="pt-2 flex gap-2 flex-wrap">
          <button
            type="button"
            *ngFor="let item of surfaceColors"
            [title]="item.color"
            class="border-none w-5 h-5 rounded-full p-0 cursor-pointer outline-none outline-offset-1"
            [ngStyle]="{ 'background-color': item.bgColor }"
            [ngClass]="{
              'outline-primary': selectedLightSurfaceColor === item.color,
            }"
            (click)="updateLightSurfaceColor(item.color)"
          ></button>
        </div>
      </div>

      <div>
        <span class="text-sm text-muted-color font-semibold"
          >Surface color (Dark theme)</span
        >
        <div class="pt-2 flex gap-2 flex-wrap">
          <button
            type="button"
            *ngFor="let item of surfaceColors"
            [title]="item.color"
            class="border-none w-5 h-5 rounded-full p-0 cursor-pointer outline-none outline-offset-1"
            [ngStyle]="{ 'background-color': item.bgColor }"
            [ngClass]="{
              'outline-primary': selectedDarkSurfaceColor === item.color,
            }"
            (click)="updateDarkSurfaceColor(item.color)"
          ></button>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <span class="text-sm text-muted-color font-semibold"
          >Theme presets</span
        >
        <p-select-button
          [options]="presetOptions"
          [allowEmpty]="false"
          [(ngModel)]="selectedPreset"
          (onChange)="updatePreset($event)"
        />
      </div>
    </div>
  </div>
</div>
