@use "mixins";

.header {
  height: 4rem;
  padding: 0 2rem;
  background-color: var(--content-card-background);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo-container {
    display: flex;
    align-items: center;

    .header-logo {
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      border-radius: var(--content-border-radius);
      color: var(--text-color);
      font-weight: 500;
      gap: 0.5rem;

      &:focus-visible {
        @include mixins.focused();
      }
    }
  }

  &-actions-container {
    display: flex;
    gap: 1rem;
  }

  &-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--content-hover-background);
    }

    &:focus-visible {
      @include mixins.focused();
    }

    i {
      font-size: 1.25rem;
    }

    &.header-button-highlight {
      background-color: var(--primary-color);
      color: var(--primary-contrast-color);
    }
  }
}

