.miners {
  height: 100%;
  display: flex;
}

.menu-item {
  &__button {
    visibility: hidden;
  }

  &__container {
    display: flex;

    &:hover {
      .menu-item__button {
        visibility: visible;
      }
    }
  }

  &__link {
    flex-grow: 1;
  }
}
