<ng-container *transloco="let t">
  <div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        <span class="text-xl font-semibold">{{
          createdAt | date: 'HH:mm:ss'
        }}</span>
      </ng-template>

      <ng-template #end>
        <p-button
          [label]="t(powerBtnLabel)"
          variant="outlined"
          [severity]="powerBtnSeverity"
          icon="pi pi-power-off"
          styleClass="mr-2"
          [disabled]="
            isTableLoading() || isPowerProcessing() || powerStatus === undefined
          "
          [loading]="isPowerProcessing()"
          (onClick)="openSwitchPowerConfirmationModal($event)"
        />

        <p-button
          [label]="t('SENSORS.BUTTON.RESET_COUNTERS')"
          variant="outlined"
          severity="danger"
          icon="pi pi-bolt"
          [disabled]="isTableLoading()"
          [loading]="isResetProcessing()"
          (onClick)="openResetConfirmationModal($event)"
        />
      </ng-template>
    </p-toolbar>

    <app-sensors-table
      [loading]="isTableLoading()"
      [rows]="(sensorsData$ | async)!"
      [settings]="settings"
    />
  </div>

  <div class="card">
    <app-log />
  </div>
</ng-container>

<p-confirm-dialog />
<p-toast />
