<div class="card" *transloco="let t" [formGroup]="form">
  <div class="mb-4 flex">
    <p-checkbox
      [inputId]="group().enableCheckId"
      binary
      formControlName="enabled"
    />

    <label
      [for]="group().enableCheckId"
      class="ml-2 cursor-pointer text-lg font-semibold"
      >{{ t(group().label) }}</label
    >
  </div>

  <div class="flex justify-between">
    <div class="flex gap-x-2">
      <p-floatlabel variant="on">
        <p-input-number
          [inputId]="group().minInputId"
          [min]="group().input.min"
          [max]="group().input.max"
          [step]="group().input.step"
          [suffix]="t(group().input.suffix)"
          [minFractionDigits]="group().input.fractionDigits"
          [maxFractionDigits]="group().input.fractionDigits"
          [useGrouping]="false"
          showButtons
          formControlName="min"
        />
        <label [for]="group().minInputId">{{
          t('PROTECTION.PLACEHOLDER.MIN')
        }}</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-input-number
          [inputId]="group().maxInputId"
          [min]="group().input.min"
          [max]="group().input.max"
          [step]="group().input.step"
          [suffix]="t(group().input.suffix)"
          [minFractionDigits]="group().input.fractionDigits"
          [maxFractionDigits]="group().input.fractionDigits"
          [useGrouping]="false"
          showButtons
          formControlName="max"
        />
        <label [for]="group().maxInputId">{{
          t('PROTECTION.PLACEHOLDER.MAX')
        }}</label>
      </p-floatlabel>
    </div>

    <p-button
      [label]="t('BUTTON.SAVE')"
      icon="pi pi-save"
      [loading]="isLoading()"
      [disabled]="isDisabled() || form.invalid || !form.dirty"
      (onClick)="openSaveDialog($event)"
    />
  </div>
</div>

<p-confirm-dialog />
<p-toast />
