<div class="card flex items-center gap-4" *transloco="let t">
  @for (setting of settings; track setting.id) {
    <div>
      <p-checkbox
        binary
        [inputId]="setting.id"
        [ngModel]="asic()[setting.id]"
        (onChange)="updateAsicSetting($event, setting.id)"
        [disabled]="isUpdating()"
      />
      <label
        class="ml-2 cursor-pointer text-base font-semibold"
        [for]="setting.id"
        [class.text-muted-color]="isUpdating()"
        >{{ t(setting.label) }}</label
      >
    </div>
  }
</div>
