<p-tabs [value]="activeRoute()" class="tab-bar" *transloco="let t">
  <p-tablist>
    <div class="tab-bar__list">
      @for (tab of tabs | async; track tab.label) {
        <p-tab
          [value]="tab.route"
          [routerLink]="tab.route"
          [disabled]="tab.disabled"
          class="tab-bar__tab"
          [class.tab-bar__tab-badge]="tab.badge"
        >
          <i [class]="tab.icon"></i>
          <p-overlay-badge [badgeDisabled]="!tab.badge" severity="danger">
            <span>{{ t(tab.label) }}</span>
          </p-overlay-badge>
        </p-tab>
      }
    </div>
  </p-tablist>
</p-tabs>
