<div class="layout">
  <app-header />

  <div class="layout-menu">
    <app-menu />
  </div>

  <div class="layout-main-container">
    <div class="layout-main">
      <p-card header="Simple Card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam cum doloremque facere incidunt inventore magnam perferendis?
          Accusantium, amet culpa distinctio, explicabo fuga officiis optio pariatur perferendis porro, quo voluptates?
        </p>
      </p-card>
      <router-outlet></router-outlet>

    </div>

    <app-footer />
  </div>
</div>
