:root {
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --text-color: var(--p-text-color);
  --transition-duration: var(--p-transition-duration);
  --disabled-opacity: var(--p-disabled-opacity);
  --content-background: var(--p-content-background);
  --content-hover-background: var(--p-content-hover-background);
  --content-border-radius: var(--p-content-border-radius);
  --content-border-color: var(--p-content-border-color);
  --focus-ring-color: var(--p-focus-ring-color);
  --focus-ring-style: var(--p-focus-ring-style);
  --focus-ring-width: var(--p-focus-ring-width);
  --focus-ring-offset: var(--p-focus-ring-offset);
  --focus-ring-shadow: var(--p-focus-ring-shadow);
  --table-column-title-font-weight: var(--p-datatable-column-title-font-weight);
}
