<p-tabs
  [value]="activeTab$.value"
  *transloco="let t"
  (valueChange)="updateTab($event)"
>
  <p-tablist>
    @for (tab of tabs; track tab.id) {
      <p-tab [value]="tab.id">{{ t(tab.label) }}</p-tab>
    }

    <div class="ml-auto inline-flex items-center gap-1">
      <p-select
        optionLabel="label"
        class="min-w-28"
        [options]="levelOptions"
        [(ngModel)]="selectedLevel"
        (onChange)="filterLogsByLevel()"
      >
        <ng-template let-option #selectedItem>{{
          t(option.label)
        }}</ng-template>

        <ng-template let-option #item>{{ t(option.label) }}</ng-template>
      </p-select>

      <p-button
        icon="pi pi-trash"
        severity="danger"
        rounded
        text
        [loading]="isDeleting()"
        (onClick)="openDeleteLogsDialog($event)"
      />
    </div>
  </p-tablist>

  <p-virtualscroller
    [items]="items()"
    [itemSize]="35"
    scrollHeight="23rem"
    styleClass="border border-surface mt-3"
  >
    <ng-template #item let-item>
      <div class="flex items-center p-2 py-1.5">
        <span>[{{ item.createdAt | date: 'dd-MM-yyyy HH:mm:ss' }}]</span>
        <span class="ml-2 text-muted-color">{{
          t(getLevelTranslation(item.level))
        }}</span>
        <span>:</span>
        <span class="ml-1">{{ item.message }}</span>
      </div>
    </ng-template>
  </p-virtualscroller>
</p-tabs>

<p-confirm-dialog />
<p-toast />
