.sensors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table {
  &__cell {
    text-align: center;
  }
}

.table-row__title {
  font-weight: var(--table-column-title-font-weight);
}
