.sensors {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table {
  &__cell {
    text-align: center;
  }

  &__header {
    width: 10rem;
  }

  &__row-title {
    font-weight: var(--table-column-title-font-weight);
  }
}
