<div class="sensors" *transloco="let t">
  <div class="card">
    <div class="mb-4 text-xl font-semibold">
      {{ t(pzemLabel, { time: createdAt | date: 'mediumTime' }) }}
    </div>
    <p-table
      [value]="(tablesRows$ | async)!"
      [loading]="isLoading()"
      dataKey="id"
      [tableStyle]="{ 'min-height': '16rem' }"
      showGridlines
      rowHover
      scrollable
      stripedRows
    >
      <ng-template #header>
        <tr>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.NAME') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.VOLTAGE') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.CURRENT') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.POWER') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.ENERGY') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.T1_ENERGY') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.T2_ENERGY') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.FREQUENCY') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.POWER_FACTOR') }}
          </th>
          <th class="table__cell table__header">
            {{ t('SENSORS.TABLE.COLUMN.AVG_VOLTAGE') }}
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-row>
        <tr [ngClass]="{ '!bg-highlight': !row.data }">
          <td class="table__row-title">{{ t(row.title) }}</td>

          <td class="table__cell">{{ row.data?.voltageV ?? 0 | number }}</td>
          <td class="table__cell">{{ row.data?.currentA ?? 0 | number }}</td>
          <td class="table__cell">{{ row.data?.powerKw ?? 0 | number }}</td>
          <td class="table__cell">{{ row.data?.energyKwh ?? 0 | number }}</td>
          <td class="table__cell">
            {{ row.data?.t1EnergyKwh ?? 0 | number }}
          </td>
          <td class="table__cell">
            {{ row.data?.t2EnergyKwh ?? 0 | number }}
          </td>
          <td class="table__cell">{{ row.data?.frequencyHz ?? 0 }}</td>
          <td class="table__cell">
            {{ row.data?.powerFactor ?? 0 | number }}
          </td>
          <td class="table__cell">
            {{ row.data?.avgVoltageV ?? 0 | number }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
