<div class="asics" *transloco="let t">
  <p-menu
    #menu
    [model]="(menuItems$ | async)!"
    styleClass="w-72 h-full overflow-auto"
  >
    <ng-template #submenuheader let-item>
      <span class="select-none font-bold text-primary">{{ item.label }}</span>
    </ng-template>
  </p-menu>

  <div class="flex flex-1 flex-col">
    <div class="card">
      <p-toolbar>
        <ng-template #start>
          <p-button
            [label]="t('BUTTON.ADD')"
            icon="pi pi-plus"
            severity="success"
            variant="outlined"
            class="mr-2"
            [disabled]="isLoading()"
            (onClick)="openModifyDialog(false)"
          />
          <p-button
            [label]="t('BUTTON.EDIT')"
            icon="pi pi-pencil"
            severity="warn"
            variant="outlined"
            class="mr-2"
            [disabled]="isToolbarDisabled()"
            (onClick)="openModifyDialog(true)"
          />
          <p-button
            [label]="t('BUTTON.DELETE')"
            icon="pi pi-trash"
            severity="danger"
            variant="outlined"
            [disabled]="isToolbarDisabled()"
            (onClick)="openDeleteAsicModal($event)"
          />
        </ng-template>
      </p-toolbar>
    </div>

    @let summary = asicSummary$ | async;

    @if (summary?.length) {
      <div class="card">
        <p-table [value]="summary!" showGridlines rowHover>
          <ng-template #header>
            <tr>
              <th class="table__column">
                {{ t('ASICS.TABLE.COLUMN.IP_ADDRESS') }}
              </th>
              <th class="table__column">{{ t('ASICS.TABLE.COLUMN.STATE') }}</th>
              <th class="table__column">
                {{ t('ASICS.TABLE.COLUMN.AVERAGE_HASHRATE') }}
              </th>
              <th class="table__column">
                {{ t('ASICS.TABLE.COLUMN.MAX_TEMP') }}
              </th>
              <th class="table__column">
                {{ t('ASICS.TABLE.COLUMN.POWER_USAGE') }}
              </th>
              <th class="table__column">
                {{ t('ASICS.TABLE.COLUMN.FAN_SPEED') }}
              </th>
            </tr>
          </ng-template>
          <ng-template #body let-summary>
            <tr>
              <td>
                <a
                  href="http://{{ summary.ip }}"
                  target="_blank"
                  class="font-bold text-primary hover:underline"
                  >{{ summary.ip }}</a
                >
              </td>

              <td>
                <p-tag
                  [value]="t(summary.state.value)"
                  [severity]="summary.state.severity"
                />
              </td>

              <td>{{ summary.avgHashRate }}</td>
              <td>{{ summary.maxChipTemp }}</td>
              <td>{{ summary.powerConsumption }}</td>
              <td>{{ summary.avgFanSpeed }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    }
  </div>
</div>

<p-confirm-dialog />
<p-toast />
